---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Mon blog d'apprentissage";
---

<BaseLayout pageTitle={pageTitle}>
  <p>C'est ici que je publie mon parcourt d'apprentissage</p>
  <ul>
    <li>
      <a href="/posts/post-1">Article 1</a>
      <a href="/posts/post-2">Article 2</a>
      <a href="/posts/post-3">Article 3</a>
    </li>
  </ul>
</BaseLayout>

